nav{
    display: flex;
    align-items: center;
    /* margin: 0 2px; */
}

.pagination{
    display: flex;
    list-style: none;
    text-align: center;
}
.pagination li a{
    text-decoration:  none;
    font-weight: 500;
    color: cornflowerblue;
}
.pagination li:hover, .pagination a:hover {
    background-color: cornflowerblue;
    color: white;
}
.pagination li{
    border: .5px solid cornflowerblue;
    padding: 10px;
}
@media only screen and (max-width:680px){
    nav p{
        font-size: 10px;
    }
    nav{
        flex-wrap: wrap;
    }
   .pagination{
     margin-left: -40px;
     /* margin-right: -18px; */
     width: 90%;
     flex-wrap: wrap;
   }
   ul .pagination{
       width: 90%;
   }
   .pagination li{
       padding: 5px;
   }
   .pagination li a{
       font-size: 10px;
   }
    
}